*, *::before, *::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}

.carousel {
    width: 100vw;
    height: 90vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 55px;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover; 
   object-position: center;

}

.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
   
}

.carousel-button:hover,
.carousel-button:focus {
 color: white;
 background-color: rgba(0, 0, 0, .2);   
}

.carousel-button:focus {
    outline: 1px solid black; 
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}


.modal-body {
    display: flex;
    gap: 25px;
}






.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;

}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;

}


.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.logo_container h1 span {
    font-weight: 800;
}

.navigation {
    float: right;
    height: 100%;
}


.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    cursor: pointer;
}

.navigation a:last-child {
   padding-right: 0; 
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.logo_image {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_container img {
    height: 80%;
    width: 80%;
    border-radius: 5%;
    margin-bottom: 15px;
}

.image_container_map {
    display: flex;
    align-items: center;
    justify-content: center;
}

figcaption {
    background-color: black;
    color: white;
    text-align: center;
}

.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}